.editor-wrapper {
    display: flex;
    height: 100%;
    position: relative;
    .editor-side-bar {
      width: 20%;
    }
    // .editor-page-edit-wrapper {
    //   width: 210px;
    //   padding: 0 1px;
    // }
    .editor-main {
      flex: 1;
      background: #f0f2f5;
      position: relative;
    }
    .el-attr-edit-wrapper {
      width: 26%;
      padding: 0;
    }
}

.components-libs-wrapper {
    user-select: none;
    height: 100%;
    padding-top: 60px;
    position: relative;

    ul {
        padding: 10px;
        list-style-type: none;

        .components-lib-item {
            color: #424242;
            text-align: center;
            background: #f4f4f4;
            width: 80px;
            float: left;
            padding: 6px 0;
            margin: 5px;
            border: 1px solid #dddddd;
            font-size: 12px;
            cursor: pointer;
            transition: All 0.3s ease-in-out;

            &:hover {
              background: #fff;
              border: 1px solid blue;
              color: blue;
            }

            .lib-item-img {
            }
            .lib-item-title {
            }
          }
    }

    .page-title {
        position: absolute;
        top: 16px;
        left: 0;
        width: 100%;
        text-align: center;
    }
}