@import '~antd/dist/antd.css';

.editor-wrapper {
    display: flex;
    height: 100vh;
    position: relative;

    .editor-container {
        max-width: 100%;

        .control-bar {
            width: 100%;
            border-bottom: 1px solid;
        }

        .editor-side-bar {
            width: 18%;
        }

        .editor-main {
            flex: 1;
            background: #f0f2f5;
            position: relative;
        }

        .el-attr-edit-wrapper {
            width: 20%;
            padding: 10px;
        }
    }
}

.components-libs-wrapper {
    user-select: none;
    height: 100%;
    padding-top: 60px;
    position: relative;

    ul {
        padding: 6px;
        list-style-type: none;

        .components-lib-item {
            color: #424242;
            text-align: center;
            background: #f4f4f4;
            width: 80px;
            height: 50px;
            float: left;
            padding: 6px 0;
            margin: 5px;
            border: 1px solid #dddddd;
            font-size: 12px;
            cursor: pointer;
            transition: All 0.3s ease-in-out;

            &:hover {
                background: #fff;
                border: 1px solid blue;
                color: blue;
            }
        }
    }

    .page-title {
        position: absolute;
        top: 16px;
        left: 0;
        width: 100%;
        text-align: center;
    }
}

.editor-pane {
    height: 90vh;
    width: 100%;
    padding: 20px;

    .editor-pane-inner {
        height: 100%;
        background-color: white;
    }
}

.attr-item-edit-wrapper {
    display: flex;
    align-items: center;

    .attr-item-title {
        margin: 10px 0;
        width: 80px;
    }
}

.navbar {

    .navbar-nav {
        margin: auto;

        .nav-item {
            text-align: center;
            margin-right: 10px;

            &-text {
                font-size: 12px;
                margin-bottom: 0;
            }
        }
    }
}