.rpd-button {
    background-color: #24a0ed;
    color: white;
    width: fit-content;
    margin: 10px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.rpd-text {
    width: 40%;
    margin: 10px;
}