.rpd-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
    background-color: #24a0ed;
    color: white;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;

}

.rpd-text {
    width: inherit;
    height: inherit;
    border: 1px solid;
    padding: 4px;

    &:empty:before {
        content: attr(placeholder);
        color: gray;
    }
}